extends layout

block content
	img(class="logo" src="images/logo.png")
	//h1= title
	//p Welcome to #{title}

	div(class="links")
		h4.
			#[a(href="https://github.com/subcouture") Github] &nbsp | &nbsp #[a(href="https://twitter.com/CookofArt") Twitter]

	//Gallery Grid

	div(class="row")
		div(class="column")
			div(class="content")
				a(href="https://steamcommunity.com/sharedfiles/filedetails/?id=1596868200")
					img(src="images/Glinskis.png")
				h3 Glinski's Hexagonal Chess
				p A simple chessboard with snap in points, at its inception this mod was the only hexagonal chess board variant for Tabletop simulator.


		div.column
			div.content
				a(href="https://credo.techlab.works")
					img(src="images/Credo_Replication.png")
				h3 CREDO Project
				p The Credo Project was created in order to provide an easy way for music historians to collate and compare contested historical manuscripts. 
				p For the Credo Project, I served as the Lead Programmer, Client Liaison, and Documentation Lead. 

		div(class="column")
			div(class="content")
				a(href="https://www.nexusmods.com/skyrimspecialedition/mods/22976?tab=description")
					img(src="images/cold_iron.webp")
				h3 Cold Iron
				p A Skyrim mod that reflects some of our myths about the fae, translated into the logic of the Elder Scrolls, igniting enemies that are susceptible to silver.

		div.column
			div.content
				a(href="https://www.pianocity.com.au")
					img(src="images/pianocityparramatta.webp")
				h3 Piano City
				p As the administrator for the Piano City website from 2015 to 2018, I oversaw an overhaul of the website, with a design rework and online shopping functionality.


	footer
		p &#127279 Linzi Zhu 2021
